
.ReactCard {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
 
}

.dp{
  border: 2px solid transparent ;
  box-shadow: 0 0 50px 15px #315061;
}

.follow{


animation: animate 3s linear infinite;
text-shadow: 0 0 50px #0072ff, 0 0 100px #0072ff, 0 0 150px #0072ff,
  0 0 200px #0072ff;
}
.fb{
animation: animate 3s linear infinite;
}
.twitter {
animation: animate 3s linear 0.3s infinite;
}
.git {
animation: animate 3s linear 0.7s infinite;
}
.insta {
animation: animate 3s linear infinite;
}

@keyframes animate {
from {
  filter: hue-rotate(0deg);
}
to {
  filter: hue-rotate(360deg);
}
}

