.trainOne_font_text {
  font-family: "Train One", system-ui;
  font-weight: 400;
  font-style: normal;
}

.letter_light {
  color: #d9fdff;
  text-shadow: 0 0 2rem #00f0ff;
}

.letter_blue {
  color: #0096ff;
  text-shadow: 0 0 2rem #00d7ff;
}

.letter_white {
  color: white;
  text-shadow: 0 0 2rem #81c2c7;
}

.letter_pink {
  color: #f0a8d0;
  text-shadow: 0 0 2rem #c7a0c9;
}
.letter_2 {
  transform: translate(-0.2rem, 1rem) rotate(10deg);
  animation: flicker 2s ease-in-out infinite alternate;
}

.letter_6 {
  transform: translate(-0.2rem, 1rem) rotate(10deg);
  animation: flicker 2s ease-in-out 1.5s infinite alternate;
}

@keyframes flicker {
  0% {
    opacity: 1;
    transform: translate(-0.2rem, 1rem) rotate(10deg);
  }
  5% {
    opacity: 1;
    transform: translate(-0.2rem, 1rem) rotate(10deg);
  }
  5.5% {
    opacity: 0;
    transform: translate(-0.2rem, 1rem) rotate(10deg);
  }
  6% {
    opacity: 1;
    transform: translate(-0.2rem, 1rem) rotate(10deg);
  }
  7% {
    opacity: 0;
    transform: translate(-0.2rem, 1rem) rotate(10deg);
  }
  50% {
    opacity: 1;
    transform: translate(-0.2rem, 1rem) rotate(13deg);
  }
  100% {
    opacity: 1;
    transform: translate(-0.2rem, 1rem) rotate(10deg);
  }
}
