html {
  margin: 0;
  background: linear-gradient(45deg, #150c0c, #030321);
  color: white;
  font-family: "Poppins", sans-serif;
}


.navbar {
  font-optical-sizing: auto;
  font-style: normal;
  font-family: "Kode Mono", monospace;
  backdrop-filter: blur(3px);
  
}

.clock{
  font-family: "Kode Mono", monospace;
}
.main-component{
  font-family: "Kode Mono", monospace;
}

.box-card >div{
  font-family: "Poppins", sans-serif;
}

.box-card{
  border: 2px solid rgb(15, 20, 71);
  backdrop-filter: calc(20px);
  background: rgb(7, 8, 16, 0.5);
  border-radius: 50px;
}

.about{
  background-image: linear-gradient(to top, #e40fab, #9536a2, #4e3885, #192b59, #091828);
}