/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

@tailwind base;
@tailwind components;
@tailwind utilities;


.center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.theme-font {
  font-family: "Kode Mono", monospace;
}

.theme-font-normal {
  font-family: "Poppins", sans-serif;
}

.animated-bg-form-dark {
  background: linear-gradient(270deg, #1c1818, #172158, #845ec2, #12b345, #0c0a0a);
  background-size: 1000% 1000%;
  animation: gradientAnimation 55s ease infinite;
}

.animated-bg-form-light {
 
  background: linear-gradient(270deg, #f8f9fa, #e9ecef, #dee2e6, #dbdbfa, #a9d6a9);
  background-size: 1000% 1000%;
  animation: gradientAnimation 55s ease infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate {
  transition: all ;
  transition-duration: .3s;
}

